body {
  font-family: "Montserrat", sans-serif;
}


/* Header Navigation */

.navbar {
  font-family:  "Montserrat";
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px 0 18px;
  font-size:  1.2rem;
  font-weight: 100;
}

/* Landing Page Section */


#title {
  position: relative;
}

.btncstm {
  margin: 5% 3% 5% 0;
}

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  top: 0.1rem;
  right: 7rem;
}

/* Features Section */

#features {
  background-color: #fff;
  position: relative;
}

.container-fluid {
  padding: 3% 15%;
}

.feature-box {
  padding: 5%;
}

.icon {
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}



/* Headers and Copy */


h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

h2 {
font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
  font-size: 1rem;
}


/* Testimonal Section */


.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

.testimonial-text {
  padding: 2rem;
}

/* Press Section */

  .pressimg {
    width: 15%;
    margin: 2rem;
    padding-bottom: 2rem;
  }

/* Pricing Section */

.card {
  margin-top: 5%;
}

.ctafont {
  font-size: 3.25rem;
}

.smicon {
  margin: 1rem;
}

/* Utilities */

.pad {
  padding: 7% 15%;
}

.tac {
  text-align: center;
}

.wt {
  color: #fff;
}

.bgc {
  background-color: #ff4c68;
}

.bgc2 {
  background-color: #ef8172;
}

/* Media Queries */

@media (max-width: 990px) {

  #title {
  text-align: center;
  }

  .iphone {
  transform: rotate(0deg);
  position: static;
  vertical-align: middle;
  }
}

@media (max-width: 645px) {

  h1 {
    font-size: 2.5rem;
  }
}
